.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .change_page {
        padding: 1rem 1.5rem;
        margin: 0 1rem;
        border: none;
        border-radius: 50%;
        // &:enabled {
        //     background-color: var(--pink);
        //     svg {
        //         path {
        //             color: #fff;
        //         }
        //     }
        // }
        &:disabled {
            cursor: default;
        }
    }
    .page {
        margin: 0 1rem;
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        transition: all 200ms linear;
        &:hover {
            background-color: #e1e1e1;
        }
        &:disabled {
            background-color: var(--pink);
            color: #fff;
            cursor: default;
        }
    }
}
