@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    animation: appear 1s linear;

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ffc8dd;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .plant1 {
        position: absolute;
        top: 10rem;
        left: 10rem;
        animation: MoveUpDown 3s linear infinite;
    }

    .plant2 {
        position: absolute;
        bottom: 10rem;
        right: 10rem;
        animation: MoveUpDown 3s linear infinite;
    }

    .card {
        position: relative;
        width: 70rem;
        height: 40rem;
        box-shadow: rgba(255, 255, 255, 1) 0px 0px 10px 4px;
        animation: fadeInUp 1s linear;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            span {
                font-size: 2rem;
                font-weight: 400;
                text-align: center;
                margin-top: 2rem;
            }
        }
        .btns {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            margin-top: 5rem;
            .backBtn {
                width: 18rem;
                height: 4rem;
                border-radius: 30rem;
                color: #f8f9fa;
                background-color: var(--pink);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                transition: background-color 200ms linear;
                svg {
                    path {
                        color: #f8f9fa;
                    }
                }
                &:hover {
                    background-color: #f72585;
                }
            }
        }
    }
}

// ---------------- Break Points -----------------
// Mobile
@media (max-width: 768px) {
    .wrapper {
        .container {
        }
        .plant1 {
            top: 7rem;
        }

        .plant2 {
            bottom: 7rem;
        }

        .card {
            width: 80%;
            height: 40rem;

            img {
            }
            .content {
                span {
                }
            }
            .btns {
                flex-wrap: wrap;
                gap: 1.5rem;
                margin-top: 3rem;
                .backBtn {
                    gap: 1rem;
                    svg {
                        path {
                        }
                    }
                    &:hover {
                    }
                }
            }
        }
    }
}
