.cart {
    width: 100%;
    .container {
        display: flex;
        justify-items: center;
        margin: 0 -1.5rem;
        .col_8 {
            padding: 0 1.5rem;
            width: 66.67%;
            .cart_table {
                margin-top: -3.5rem;
                padding-right: 4rem;
                table {
                    border-collapse: collapse;
                    width: 100%;
                    tr {
                        border-bottom: 0.1rem solid #e1e1e1;
                    }
                    td,
                    th {
                        text-align: left;
                        padding: 3.5rem 0;
                    }
                }
                .item {
                    display: flex;
                    .item_img {
                        img {
                            width: 10rem;
                            height: 10rem;
                        }
                    }

                    .item_text {
                        margin-left: 3rem;
                        display: flex;
                        flex-direction: column;
                        h4 {
                            margin-top: 1rem;
                            font-size: 2.4rem;
                            text-transform: capitalize;
                            font-weight: 400;
                        }
                        span {
                            margin-top: 1rem;
                            font-size: 2rem;
                            font-weight: 500;
                        }
                    }
                }
                .qty_btn {
                    font-size: 2rem;
                    font-weight: 500;
                    width: 12rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .total {
                    width: 100%;
                    width: 12rem;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .del_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        background-color: transparent;
                        border: none;
                        padding: 1rem;
                        svg {
                            path {
                                color: var(--pink);
                            }
                        }
                    }
                }
            }
        }
        .col_4 {
            padding: 0 1.5rem;
            width: 33.33%;
        }
    }
}

// ---------------- Break Points -----------------
// Tablet
@media (min-width: 800px) and (max-width: 1367px) {
    .cart {
        .container {
            flex-wrap: wrap;
            .col_8 {
                width: 100%;
                .cart_table {
                    padding-right: 0;
                    table {
                        tr {
                            th,
                            td {
                                text-align: left;
                            }
                        }
                    }
                    .item {
                        .item_img {
                            img {
                            }
                        }
                        .item_text {
                            h4 {
                                font-size: 2rem;
                            }
                            span {
                                font-weight: 600;
                            }
                        }
                    }
                    .qty_btn {
                        width: 100%;
                        justify-content: start;
                        padding-left: 5rem;
                    }

                    .total {
                        width: 100%;
                    }

                    .del_btn {
                        padding-right: 6rem;
                        button {
                            svg {
                                path {
                                }
                            }
                        }
                    }
                }
            }
            .col_4 {
                width: 100%;
            }
        }
    }
}

// Mobile
@media (max-width: 800px) {
    .cart {
        .container {
            flex-wrap: wrap;
            margin: 0;
            .col_8 {
                padding: 0;
                width: 100%;
                .cart_table {
                    margin-top: 0;
                    padding-right: 0;
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        tr {
                            border-bottom: 0.1rem solid #e1e1e1;
                            font-size: 1rem;
                        }
                        td,
                        th {
                            text-align: center;
                            padding: 3rem 0;
                        }
                    }
                    .item {
                        display: flex;
                        flex-direction: column;
                        .item_img {
                            img {
                                width: 6rem;
                                height: 6rem;
                            }
                        }

                        .item_text {
                            margin-left: 0;
                            display: flex;
                            flex-direction: column;
                            h4 {
                                margin-top: 1rem;
                                font-size: 2rem;
                                text-transform: capitalize;
                                font-weight: 400;
                            }
                            span {
                                margin-top: 1rem;
                                font-size: 2rem;
                                font-weight: 900;
                            }
                        }
                    }
                    .qty_btn {
                        font-size: 2rem;
                        font-weight: 500;
                        width: 10rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .total {
                        width: 10rem;
                        font-size: 2rem;
                        font-weight: 500;
                        color: var(--pink);
                    }

                    .del_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button {
                            background-color: transparent;
                            border: none;
                            padding: 1rem;
                            svg {
                                path {
                                    color: var(--pink);
                                }
                            }
                        }
                    }
                }
            }
            .col_4 {
                padding: 0;
                width: 100%;
            }
        }
    }
}
