.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 1rem;
    .back_btn {
        background-color: var(--pink);
        padding: 1rem 10rem;
        color: #fff;
        font-weight: 600;
        &:hover {
            opacity: 0.8;
        }
    }
}

// ---------------- Break Points -----------------
// Tablet
// Mobile

.empty {
    .back_btn {
        padding: 1rem 9rem;
        &:hover {
        }
    }
}
