.widget_btn {
    border: none;
    background-color: transparent;
}
.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 50%;
    transition: all 350ms ease-in-out;
    &:hover {
        background-color: var(--pink);
        transform: rotate(360deg);
        svg {
            path {
                color: #fff;
            }
        }
    }
}
