.widget_btn {
    border: none;
    background-color: transparent;
}
.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 50%;
    transition: all 350ms ease-in-out;
    &:hover {
        background-color: var(--pink);
        transform: rotate(360deg);
        svg {
            path {
                color: #fff;
            }
        }
    }
}

// ---------------- Break Points -----------------
// Tablet
@media (min-width: 800px) and (max-width: 1224px) {
    .widget {
        background-color: #f1faee;
        svg {
            path {
                color: var(--pink);
            }
        }
    }
}

// Mobile
@media (max-width: 800px) {
    .widget {
        width: 3.5rem;
        height: 3.5rem;
        background-color: #f1faee;
        svg {
            path {
                color: var(--pink);
            }
        }
    }
}
