.loader {
    --color: var(--pink);
    --size-mid: 6vmin;
    --size-dot: 1.5vmin;
    --size-bar: 0.4vmin;
    --size-square: 3vmin;

    display: block;
    position: relative;
    width: 50%;
    display: grid;
    place-items: center;
}

.loader::before,
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
}
/**
	loader __5
**/
.loader.__5::before {
    width: var(--size-mid);
    height: var(--size-mid);
    border: 4px solid var(--color);
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader-1 1s linear infinite;
}

.loader.__5::after {
    width: calc(var(--size-mid) - 2px);
    height: calc(var(--size-mid) - 2px);
    border: 2px solid transparent;
    border-top-color: var(--color);
    border-radius: 50%;
    animation: loader-1 0.6s linear reverse infinite;
}

@keyframes loader-1 {
    100% {
        transform: rotate(1turn);
    }
}

/**
	miscs
**/

.container {
}

.item {
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: opacity 0.4s ease;
}

.container:hover .item {
    opacity: 0.3;
}

.container:hover .item:hover {
    opacity: 1;
}

.page {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 10;
}
