@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100%;
    background-color: rgb(225 225 225/ 50%);
    z-index: 10;
}
.modal_slide {
    display: none;
}

.searchResult {
    position: fixed;
    top: 0;
    right: 0;
    width: 50rem;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    box-shadow: -0.5rem 0 2rem rgb(255 173 203 / 70%);
    transition: width 300ms ease;
    .wrapper {
        height: 100%;
        overflow-y: scroll;
        padding: 2rem 2rem 1rem;
    }
}

.searchResult_slide {
    width: 0rem;
}
.searchResult_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .searchResult_delbtn {
        min-width: 5rem;
        min-height: 5rem;
        border-radius: 50%;
        background-color: #fff;
        margin-bottom: 3rem;
    }
    .searchResult_container {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .searchResult_input {
            position: relative;
            display: flex;
            align-items: center;
            width: 80%;
            height: 6rem;
            border-radius: 1rem;
            border: 0.3rem solid var(--pink);
            overflow: hidden;
            margin-bottom: 4rem;
            input {
                padding: 0 2.5rem 0 1.5rem;
                width: 80%;
                height: 100%;
                border: none;
                color: var(--pink);
                font-size: 1.6rem;
                text-transform: capitalize;
                &:placeholder-shown {
                    color: var(--pink);
                }
                &:focus {
                    border: none;
                    outline: none;
                }
            }
            .clear_btn,
            .spinner {
                position: absolute;
                right: 22%;
                background-color: transparent;
                border: none;
                svg {
                    path {
                        color: var(--pink);
                    }
                }
            }
            .spinner {
                animation: spin 1000ms linear infinite;
            }
            .searchResult_searchIcon {
                position: relative;
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                &::before {
                    position: absolute;
                    content: '';
                    height: 70%;
                    left: 0;
                    border-left: 0.3rem dashed var(--pink);
                }
                svg {
                    font-size: 2rem;
                    path {
                        color: var(--pink);
                    }
                }
            }
        }
        .searchResult_results {
            width: 100%;
            overflow: scroll;
            height: 100%;
            ul {
                .searchResult_item {
                    width: 100%;
                    border: 0.3rem solid var(--pink);
                    margin-bottom: 0.5rem;
                    a {
                        width: 100%;
                        height: 6rem;
                        display: flex;
                        overflow: hidden;
                        img {
                            width: 20%;
                            // height: 16rem;
                            object-fit: cover;
                        }
                        .searchResult_item_content {
                            width: 80%;
                            padding-left: 1rem;
                            text-transform: capitalize;
                            p {
                            }
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .nothing {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            svg {
                animation: spin 1000ms linear infinite;
            }
        }
    }
}
