.products {
    width: 100%;
}

.container {
    width: 100%;
}

.sortable {
    margin-bottom: 1rem;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.all_items {
}

.list_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
}

.item {
    position: relative;
    max-width: 20%;
    width: 100%;
    padding: 0 1.5rem;
    list-style: none;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    img {
        width: 100%;
        user-select: none;
    }
    &:hover .menu_link_widget {
        opacity: 1;
        transform: translateY(-10rem);
    }
    .menu_link_widget {
        opacity: 0;
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        z-index: 0;
        transition: all 200ms linear;
    }
}

.item_name {
    font-size: 2rem;
    font-weight: 300;
    z-index: 2;
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 100ms linear;
    &:hover {
        color: var(--pink);
    }
}

.item_price {
    font: size 1.8rem;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
}
