.banner {
    position: relative;
    width: 100%;
    .banner_img {
        z-index: -1;
        width: 100%;
        height: auto;
        img {
            width: 100%;
        }
    }
    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .banner_text {
            // width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1 {
                font-size: 4.5rem;
                text-transform: capitalize;
            }
            .banner_link {
                width: 100%;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0 3rem;
                text-transform: uppercase;
                a {
                    position: relative;
                    color: var(--pink);
                    // border-right: 3px solid #ccc;
                    // padding-right: 2rem;
                    &::after {
                        position: absolute;
                        content: ' ';
                        top: 5px;
                        right: -18px;
                        width: 2px;
                        height: 20px;
                        background-color: #ccc;
                    }
                }
            }
        }
    }
}

// Banner for mobile devices
.container_mb {
    padding: 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    a {
    }
    .icon_mb {
    }
    b {
        text-transform: capitalize;
        color: var(--pink);
    }
}

// ---------------- Break Points -----------------
// Tablet
@media (min-width: 800px) and (max-width: 1367px) {
    .banner {
        .banner_img {
        }
        .container {
            .banner_text {
                h1 {
                    font-size: 2.5rem;
                }
                .banner_link {
                    font-size: 1.5rem;

                    a {
                        &::after {
                        }
                    }
                }
            }
        }
    }
}
